<!DOCTYPE html>

<html>
  <head>
    <title>Raksha</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <noscript><link rel="stylesheet" href="../static/css/noscript.css"
    /></noscript>
  </head>
  <body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="/"> Sweta/Jyoti</a></h1>
        <nav id="nav">
          <ul>
            <li class="special">
              <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/generic">Modules</a></li>
              
                  <li>
                    <button onclick="signOut()" id="signOut">SignOut/SignIn</button>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <h2>Virtual Self Defence Trainer</h2>
          <p>
            Informing and helping<br />
            women defend their safety in<br />
            all walks of life.
          </p>
          <span><img src="../static/images/banner.PNG" alt="" /></span>
        </div>
      </section>

      <!-- One -->
      <section id="one" class="wrapper style1 special">
        <div class="inner">
          <span><img src="../static/images/about.jpg" alt="" /></span>
          <header class="major">
            <h2>
              What is in it<br />
              for you?
            </h2>
            <p>
              We have a lot of fascinating activities for you that will<br />
              make you self-capable to withstand different aspects of your
              safety. <br />
              It looks like you are Interested! So just log in and go ahead.<br />
            </p>
          </header>
          <ul class="icons major">
            <li>
              <span class="icon fa-gem major style1"
                ><span class="label">Lorem</span></span
              >
            </li>
            <li>
              <span class="icon fa-heart major style2"
                ><span class="label">Ipsum</span></span
              >
            </li>
            <li>
              <span class="icon solid fa-code major style3"
                ><span class="label">Dolor</span></span
              >
            </li>
          </ul>
        </div>
      </section>

      <!-- Two -->
      <section id="two" class="wrapper alt style2">
        <section class="heading-modules">Explore the various modules</section>
        <section class="spotlight">
          <div class="image">
            <img src="../static/images/girl_karate.jpg" alt="" />
          </div>
          <div class="content">
            <h2>
              Module-1<br />
              Physical Defense
            </h2>
            <p>
              Self-defense (self-defence in some varieties of English) is a countermeasure that involves defending the health and well-being of oneself from harm. The use of the right of self-defense as a legal justification for the use of force in times of danger is available in many jurisdictions.
            </p>
          </div>
        </section>
        <section class="spotlight">
          <div class="image"><img src="../static/images/law.jpg" alt="" /></div>
          <div class="content">
            <h2>
              Module-2<br />
              Law and Order
            </h2>
            <p>
              The principle of gender equality is enshrined in the Indian Constitution in its Preamble, Fundamental
              Rights, Fundamental Duties and Directive Principles. The Constitution not only grants equality to women, but
              also empowers the State to adopt measures of positive discrimination in favour of women. Within the
              framework of a democratic polity, our laws, development policies, Plans and programmes have aimed at
              women’s advancement in different spheres. India has also ratified various international conventions and
              human rights instruments committing to secure equal rights of women. Key among them is the ratification of
              the Convention on Elimination of All Forms of Discrimination against Women (CEDAW) in 1993.
            </p>
          </div>
        </section>
        <section class="spotlight">
          <div class="image"><img src="../static/images/work.jpg" alt="" /></div>
          <div class="content">
            <h2>
              Module-3<br />
              Work Culture
            </h2>
            <p>
              Women continue to encounter challenges when it comes to advancing in the workplace—and in many facets of society. 
              Here they are, in no particular order:<br>
              Equal Pay—It’s 2017, and women still make less than men.<br>
              Flexible Work Arrangements—Working flexibly is an issue for many women.<br>
              Sexual Harassment—Women at all levels of employment and all level of workplace are affected.<br>
            </p>
          </div>
        </section>
      </section>

  

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a href="https://github.com/akshitadixit/RA" ><span class="fa fa-github">GitHub</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Sweta/Jyoti</li>
        </ul>
      </footer>
    </div>

    <!-- Scripts -->
    <script>
      function signOut() {
        //auth.signOut();
        window.location.replace("login.html");
        alert("Signed Out");
      }
    </script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrollex.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
  </body>
</html>
